/* General Styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

/* Dark Mode */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

header {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar a {
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #575757;
}

/* Theme Toggle Icon */
.toggle-icon {
    font-size: 24px;
    cursor: pointer;
    color: #333;
    z-index: 1000;
    transition: color 0.3s;
}

body.dark-mode .toggle-icon {
    color: white;
}

/* Specific styles for light and dark modes */
body.dark-mode header {
    background-color: #1e1e1e;
}

body.dark-mode .navbar a {
    color: #ccc;
}

/* Apply styles for other elements here */
